@model ControleFaturamentoJnx.Models.PrecoCusto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrecoCusto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Embalagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Embalagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Folha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Folha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vitamina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vitamina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecitina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecitina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bandeja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bandeja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Energia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Energia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lenha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manutenção)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manutenção)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentagemVendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentagemVendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentagemLucro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentagemLucro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoFixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoFixo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
