@model ControleFaturamentoJnx.Models.VariaveisDeCalculo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VariaveisDeCalculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fgts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fgts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComissaoVendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComissaoVendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreteVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreteVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreteCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreteCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProducaoMensal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducaoMensal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
